@font-face{
    font-family: "IranSans";
    src: url('/assets/font/IRANSansWeb.ttf') format('ttf');
 }
 *{
    font-family: IranSans!important;
 }
 body{
   background-color: #1891C9!important;
 }
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&;display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&;display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50&;display=swap');
 
